body {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    margin: 0;
}

h2 {
    text-align: center;
}

button {
    color: white;
    padding: 6px 18px;
    border: white solid 2px;
    border-radius: 12px;
    font-size: 16px;
    background-color: #3882F6;
}
.header {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    background-color: #1F2936;
    color: white;
    width: 100%;
}

.header ul {
    list-style-type: none;
    padding: 8px;
    margin: 0;
    margin-left: auto;
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* border: black dotted 2px; */
}

.init {
    display: flex;
    background-color: #1F2936;
    padding: 15px 15%;
    gap: 16px;
}

.intro {
    color: white;
}

.intro h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.intro h2 {
    font-size: 30px;
    color: #F9FAF8
}

.intro p {
    font-size: 18px;
    color: #E5E7EB;
}

.intro button {
    border: none;
}

.init img {
    height: 300px;
    width: auto;
}

.ref-body {
    width: 80%;
    margin-bottom: 30px;
}

.references {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.projects img {
    width: 200px;
    height: auto;
    border-radius: 12px;
    border: #3882F6 solid 2px;
}

.projects {
    display: flex;
    flex-direction: column;
    border: black dotted 2px;
    align-items: center;
    max-width: 250px;
}

.quotations {
    background-color: #E5E7EB;
    padding: 16px;
    width: 80%;
    margin-bottom: 30px;
}

.quotations .quotes-columns {
    display: flex;
    gap: 32px;
    align-items: center;
}

.Motto {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F3937;
}

.Herkunft {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.advert {
    margin-bottom: 30px;
    background-color: #3882F6;
    border-radius: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.advert .left-column {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-column h2 {
    margin: 0;
    padding-top: 10px;
}

.footer {
    width: 100%;
    background-color: #1F2936;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}